services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8084:8000"
    volumes:
      - ./lessons:/app/lessons:ro
      - ./challenges:/app/challenges:ro
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8083:80"
    depends_on:
      - backend
